body {
	height: 100vh;
	width: 100vw;
  margin: 0;
	padding: 0px;
	display: block;
}

/* When writing CSS classes it is VERY important that you use hyphen delimited strings (square-div and NOT squareDiv) */
/* Addtionally, you should know what the class does just by looking at the name (the name should be DESCRIPTIVE) */
/* When thinking about sizing elements on your page, there are many different units you can use = https://www.w3schools.com/cssref/css_units.asp */
.square-div {
	height: 100%;
	width: calc(100%/3);
}

/* When possible, organize CSS classes in alphabetical order */
.restrict-img{
	max-height: 100%;
	max-width: 100%;

}


.orange {

background-color: orange

}

.green {

background-color: green


}

.pink {

background-color: pink

}

.flex {
display: flex;
height: 75%;
width: 100%;
}
.height{
	height: 25%;
}
